.color-bends-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
  background-color: black;
  color: #fff;
  justify-content: left;
}

/* Move hero text slightly top-left */
.hero-overlay {
  position: absolute;
  top: 20%;
  left: 5%;
  transform: translate(0, -0%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0.1rem; /* reduced gap between title and subtitle */
  z-index: 10;
}

/* Title (BlurText / Hero) styling */
.hero-blur-text {
  font-size: 6rem; /* adjust for screen size */
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

/* Subtitle styling */
.hero-subtitle {
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 1px;
}

.tinker {
  font-weight: bold;
  cursor: pointer;
}

.tinker:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .color-bends-container {
    height: 75vh;
  }

  .hero-blur-text {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
}
